.tasksItem {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.tasksItemCategory {
  padding: 10px 5px;
  text-align: center;
  background: green;
}
.tasksItemInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 20px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 20px;
  margin-top: auto;
}
.buttons label {
  position: relative;
}
.buttons select {
  opacity: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}
.red {
  background-color: #ff0000;
}
.green {
  background-color: #00ff00;
}
.blue {
  background-color: #0000ff;
}
.yellow {
  background-color: #ffff00;
}
.buttons button {
  width: 20px;
  height: 20px;
}
.buttons button img {
  width: 100%;
  height: 100%;
}